.section-subtitle_theme_dark {
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #f2f2f2;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 20px;
    z-index: 2;
    position: relative;
}